


.project .project-footer .sppb-btn


{


display: none !important;

}



@media all and (-ms-high-contrast:none)
{
.your-class-name{width: 100% !important;}/* IE11 */
}


#sp-page-builder .sppb-section-title .sppb-title-subheading {

text-transform: none !important;


}


div#fox-container-m197 .controls {


width: 50% !important;


}