@import "../App.css";

.Cursor{
	cursor: pointer;
}

.PreviewsDiv{
	margin-bottom: 50px;
}



.MainSeparator{
/*	background-color: var(--separatorColor);
	height: 1px;*/
	
	display: inline-block;
	background-color: var(--separatorColor);
	width: 80vw;
	height: 1px;
	margin-top: 50px;
	margin-bottom: 20px;
}

