@import "../App.css";

/*.Preview{
	display: flex;
	align-items: center;
	justivy-items: center;
	transition: 1s;
	justify-content: space-around;
	
	overflow: hidden;
}*/

.PreviewList{
	list-style:none;
/*	background-color: lightgreen;*/
}
.PreviewListItem{
	padding: 10px;
/*	background-color: lightblue;*/
}

.PreviewText{
	text-align: justify;
	color: var(--fontColor);
	font-family: hand_written_font;
	font-size: 20px;
	width: 300px;
	padding: 10px;
	padding-left: 20px;
}

.Cursor{
	cursor: pointer;
}

.PreviewContainer {
	display: flex;

	justify-content: center;
}
.MainSeparator{
	display: inline-block;
	background-color: var(--separatorColor);
	width: 80vw;
	height: 1px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.PreviewImage{
	max-width: 800px;
	max-height: 600px;
	width: auto;
	height: auto;
	cursor: pointer;
}

