@import "App.css";


.TabBar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
}
.TabSeparator{
	height: 2px;
	width: 90%;
	background-color: var(--separatorColor);
	margin: auto;
	margin-bottom: 0px;
}
.TabElement{
}
.TabElement.acitve{
}
.TabElement:hover{
	cursor: pointer;
}
.TabIndicator{
	height: 2px;
	width: 50%;
	margin: auto;
	background-color: transparent;
	transition: 0.5s;
	margin-bottom: 10px;
	margin-top: 0px;
	transition-duration: 1s;
}
.TabIndicator.Hovered{
	background-color: var(--main-bg-color-lightdark);
}
.TabIndicator.Selected{
}

.TabLink {
	border-right: 1px solid var(--main-bg-color-light);
	background-color: transparent;
	color: var(--main-bg-color);
/*  	font-size: calc(10px + 2vmin);*/
  	font-family: hand_written_font;
  	padding: 0px 15px;
  	animation-name: example;
   animation-duration: 5s;
   margin: 1px;
   display:block;
   outline: none;
	 transition-duration: 0.6s;
}
.LastTabElement{
	border-right: none;
}

.TabLink:hover {
}
.TabLink.Selected {
	background-color: var(--main-bg-color-dark);
	color: white;
}
.TabLink:active {
/*  	border: 1px solid #00FF00;*/
}

@keyframes indicator_fading {
  0%   {background-color: transparent;}
  100% {background-color: var(--main-bg-color-dark);}
}
@keyframes indicator_fading_out {
  0%   {background-color: var(--main-bg-color-dark);}
  100% {background-color: transparent;}
}
